.main-button {
	width: 100%;
	font-family: "Lato", serif;
	font-weight: 600;
	font-style: normal;
	font-size: 20px;
	line-height: 30px;
	padding: 20px 54px;
	border-radius: 4px;
	font-weight: 500;
	color: #fff;
	border: none;
	background-color: #1f27f5;
	cursor: pointer;
}
